.font-title{
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 40px;
  color: #000000;
}
.section{
 background-image: url("src/assets/phantom/Bloque1.png");
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
