<div class="container-fluid">
  <div class="row">
    <div class="col my-auto">
      <div class="text-center">
        <img src="assets/home/finanzas.png" alt="Logo" class="img-fluid py-5">
      </div>
      <div class="text-start mx-5 px-5">
        <p class="font-title">Bienvenido, {{authService.usuario.nombre_c}}</p>
        <p class="font-subtitle">Selecciona una opción para continuar</p>
      </div>
      <div class="row  text-center  d-flex justify-content-center my-auto " id="f1">
        <div class="col-md-4">
          <a href="https://finanzasinteligentes.fathomhq.com/login"> <img src="assets/login/reporte.png"  alt="" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a [routerLink]="['/perfil']">  <img src="assets/login/dashboard.png" alt="" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a [routerLink]="['/otros-reportes']">  <img src="assets/login/otros.png" alt="" class="img-fluid"></a>
        </div>
      </div>
      <div class="row  text-center  d-flex justify-content-center my-auto d-none" id="f2" >
        <div class="col-md-6">
          <a href="https://finanzasinteligentes.fathomhq.com/login">
          <img src="assets/login/reporte.png" alt="" class="img-fluid"></a>
        </div>
        <div class="col-md-6">
          <a [routerLink]="['/otros-reportes']">  <img src="assets/login/otros.png" alt="" class="img-fluid"></a>
        </div>
      </div>
      </div>
  </div>
  <div class="py-5"></div>
</div>
