<app-menu></app-menu>
<div class="container-fluid section">
  <div class="row">
    <div class="col my-auto">
      <div class="text-center">
        <img src="assets/home/finanzas.png" alt="Logo" class="img-fluid py-5">
      </div>
      <div class="text-center mx-5 px-5">
        <p class="font-subtitle">Complete el siguiente formulario con la finalidad de dar seguimiento a su solicitud</p>
      </div>
      <div class="row m-auto   d-flex justify-content-center">
        <div class="col-md-6 pt-5 text-center pb-5">
          <form action="" >
            <input type="text" class="form-control mb-3 bg-input" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombre">
            <input type="text" class="form-control mb-3 bg-input" name="correo" id="correo" placeholder="Correo electrónico" [(ngModel)]="correo">
            <input type="text" class="form-control mb-3 bg-input" name="mensaje" id="mensaje" placeholder="Mensaje" [(ngModel)]="mensaje">
            <textarea class="form-control mb-3 bg-input" name="describe" id="describe" rows="8" placeholder="Describe tu problema..." [(ngModel)]="describe">
            </textarea>
            <button class="btn btn-primary bt-form" (click)="sendSupport()">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
