.bg-input{
  background: #fff;
  padding: 6px 12px;
  border-radius: 8px!important;
  border: 1px solid #c0d6ff!important;
}
.bt-form{
  background: #3274FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 150px;
}
.section{
  background-image: url("src/assets/phantom/Bloque1.png");
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
