<div class="container-fluid">
  <div class="row">
   <div class="col my-auto">
      <div class="text-center">
        <img src="assets/home/finanzas.png" alt="Logo" class="img-fluid py-5">
      </div>
      <div class="row pt-3 d-flex justify-content-center">
        <div class="col-md-6">
          <h6 class="label py-2 text-start">Iniciar sesión </h6>
          <form #f="ngForm" novalidate>
            <div class="mb-4">
              <input type="text" required name="correo" id="correo" [(ngModel)]="usuario.correo" placeholder="Correo electrónico" class="form-control bcInput" name="correo">
            </div>
            <div class="mb-4">
               <input type="password"  required name="contrasena" [(ngModel)]="usuario.contrasena" id="contrasena" placeholder="Contraseña" class="form-control bcInput" name="password">
            </div>
            <div class="text-end pt-3">
              <button  [disabled]="!f.valid"  class="btn boton" (click)="login()" style="color: #FFFFFF; border: none;">Iniciar</button>
            </div>
          </form>
           </div>
      </div>
       </div>
    <div class="col fondo min-vh-100 d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
    </div>
  </div>
</div>
