/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/Lato-Black.ttf');
}
@font-face {
  font-family: 'Lora-Bold';
  src: url("assets/fonts/static/Lora-Bold.ttf");
}
@font-face {
  font-family: 'Lora-Medium';
  src: url("assets/fonts/static/Lora-Medium.ttf");
}
@font-face {
  font-family: 'Lato Bold';
  src: url("assets/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: 'Lato Light';
  src: url("assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: 'Montserrath-Bold';
  src: url("src/assets/fonts/fuente/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrath-Medium';
  src: url("src/assets/fonts/fuente/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrath-Regular';
  src: url("src/assets/fonts/fuente/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Lato Thin';
  src: url("assets/fonts/Lato-Thin.ttf");
}
*{
  font-family: 'Montserrath-Regular',serif;
}
.font-medium{
  font-family: 'Montserrath-Medium',serif;
}
.font-regular{
  font-family: 'Montserrath-Regular', serif;
}
.font-bold{
  font-family: 'Montserrath-Bold',serif;
}
.font-light{
  font-family: 'Lato Light',serif;
}
.font-black{
  font-family: 'Lato Black',serif;
}
.bg-menu{
  background: #002B60;
}
