<!-- Footer -->
<footer class="text-left text-white" style="background-color:#1F3157;" *ngIf="check()" >
  <!-- Grid container -->
  <div class="container pt-5">
    <!-- Section: Links -->
    <section class="pt-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="py-3">
              <a  routerLinkActive="router-link-active" class="text-white">
                <img src="assets/home/finanzas.png" class="img-fluid">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="py-1">
              <a [routerLink]="['/home']" fragment="historia" class="text-white"  routerLinkActive="router-link-active" style="text-decoration: none;">Conócenos</a>
            </li>
            <li class="py-1">
              <a  routerLinkActive="router-link-active" class="text-white" style="text-decoration: none;">Siguenos en nuestras <br> redes sociales</a>
            </li>
            <li class="py-1">
              <a href="https://www.linkedin.com/company/finanzas-inteligentes/about/" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>&nbsp;
              <a href="https://www.facebook.com/Finanzas-Inteligentes-by-ArCcanto-104141632053369" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>&nbsp;
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 mb-6 mb-md-6">
         <ul class="list-unstyled mb-4">
            <li class="py-1">
              <a [routerLink]="['/home']" fragment="equipo" class="text-white"  routerLinkActive="router-link-active" style="text-decoration: none;">Nosotros</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="py-1">
              <a href="https://calendly.com/piturbide/finanzas_inteligentes" target="_blank" class="text-white"  routerLinkActive="router-link-active" style="text-decoration: none;">Agenda tu cita</a>
            </li>
            <li class="py-1">
              <a [routerLink]="['/home']" fragment="contacto" routerLinkActive="router-link-active" class="text-white" style="text-decoration: none;">Contacto</a>
            </li>
            <li class="py-1">
              <a href="assets/home/Aviso%20de%20privacida%20para%20clientes.pdf" class="text-white" routerLinkActive="router-link-active" style="text-decoration: none;" target="_blank">Aviso de privacidad</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    ©️ Todos los derechos reservados para el uso intelectual de <a href="#" class="enlaces">Finanzas Inteligentes</a> 2025
    | Diseño y producción por <a class="enlaces" href="http://www.xiaexperience.com" target="_blank" style="text-decoration: none;"><img src="assets/footer/Xia.png" class="img-fluid" alt="XIA" width="30"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
