/*Media Queries*/
.slider1{
  min-height: 100vh;
background: url("src/assets/home/s2n.png") no-repeat center center ;
background-size: cover;
}
.slider2{
  min-height: 100vh;
  background: url("src/assets/home/slider21.png") no-repeat center center;
  background-size: cover;
}
.slider3{  min-height: 100vh;
  background: url("src/assets/home/slider3.png") no-repeat center center;
  background-size: cover;
}
.slider4{  min-height: 100vh;
  background: url("src/assets/home/Frame 1.png") no-repeat center center;
  background-size: cover;
}
#ivette{
  margin-right: 1.3rem;
}
#victor{
  margin-right: 1.3rem;
}
.contenido{
  min-height: 100vh;
}
#video{
  margin: auto;
}
#BIVA{
  width: 100%;
}
.bg-oculto{
  background: #31497D;
  height: 520px;
}
.abs{
  min-height: 100vh;
}
.v-clic{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.v-clic.active{
  visibility: visible;
  opacity: 1;
}
.s1{
  background: url('src/assets/home/productos/slider/fondo-productos.png') no-repeat center;
  background-size: cover;
  height: 520px;
}
.s2{
  background: url('src/assets/home/productos/slider/fondo-productos-2.png') no-repeat center;
  background-size: cover;
  height: 520px;
}

.s3{
  background: url('src/assets/home/productos/slider/fondo-productos-3.png') no-repeat center;
  background-size: cover;
  height: 520px;
}

.s4{
  background: url('src/assets/home/productos/slider/fondo-productos-4.png') no-repeat center;
  background-size: cover;
  height: 520px;
}
.t-oculto{
  width: 75%;
}
@media (min-width: 600px) and (max-width: 1000px){
  .font-title{
    font-size: 50px;
  }
  .fondo-clave{
    padding-top: 0 !important;
  }
  .bg-oculto, .s1, .s2, .s3, .s4{
    height: auto !important;
  }
  .abs{
    min-height: 50vh !important;
  }
  .t-oculto{
    width: 100% !important;
    margin-top: 2em !important;
  }
  .contenido{
    min-height: auto !important;
  }
  #history{
    height: auto !important;
    padding-top: 1em !important;
  }
  #finanza{
    height: auto !important;
    padding-top: 1em !important;
    text-align: center !important;
  }
  #video{
    margin: auto !important;
  }
  .t-BIVA{
    padding-top: 1em !important;
  text-align: center !important;
  }
  #conoce{
    padding-top: 1em !important;
  }
  .fondo-equipo{
    background: #002B60 !important;
    height: auto !important;
  }
  .bg-team{
    height: auto !important;
    width: 100% !important;
  }
  #ivette{
    margin-right: 0 !important;
    padding-top: 0 !important;
    margin-top: 0!important;
  }
  #victor{
    margin-right: 0 !important;
    padding-top: 0 !important;
    margin-top: 0!important;
  }
  #pablo{
    margin-top: 5em !important;
  }
  .t-sl{
    border: 1px solid #1B2C48;
    margin-top: 1em !important;
  }
  #s-panel{
    height: auto !important;
  }
  .card-fondo{
    width: 100% !important;
  }
  .clasita{
    margin-top: 2em !important;
  }
  .prueba{
    margin-left: 0 !important;
  }
  .font-parra{
    font-size: 40px;
    margin: auto;
    padding: 0;
  }
  .text-clave{
    width: 100% !important;
  }
}
@media(min-width: 300px) and (max-width: 550px){
  .font-title{
    font-size: 40px !important;
  }
  #equipo{
    font-size: 36px !important;
  }
  .t-his{
    text-align: justify !important;
    width: 100% !important;
  }
  .font-subtitle{
    font-size: 18px !important;
    padding-left: 0!important;
    width: 100% !important;
  }
  .font-product{
    font-size: 14px !important;
    padding-top: 1em !important;
    padding-left: 0!important;
  }
  .btn-v{
  padding-left: 0 !important;
  width: 50% !important;
  }
  .plus{
    display: none;
  }
  .bg-oculto, .s1, .s2, .s3, .s4{
    height: auto !important;
  }
  .abs{
    min-height: 52vh !important;
  }
  .t-oculto{
    width: 100% !important;
    margin-top: 2em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .contenido{
    min-height: auto !important;
  }
  #history{
    height: auto !important;
    padding-top: 1em !important;
  }
  #finanza{
    height: auto !important;
    padding-top: 1em !important;
    text-align: center !important;
  }
  #video{
    margin: auto !important;
  }
  .t-BIVA{
    padding-top: 1em !important;
    text-align: center !important;
  }
  #conoce{
    padding-top: 1em !important;
  }
  .fondo-equipo{
    background: #002B60 !important;
    height: auto !important;
  }
  .bg-team{
    height: auto !important;
    width: 100% !important;
  }
  #ivette{
    margin-right: 0 !important;
    padding-top: 5em !important;
    margin-top: 0!important;
  }
  #victor{
    margin-right: 0 !important;
    padding-top: 0 !important;
    margin-top: 0!important;
  }
  #pablo{
    margin-top: 5em !important;
  }
  .t-sl{
    border: 1px solid #1B2C48;
    margin-top: 1em !important;
  }
  #s-panel{
    height: auto !important;
  }
  .card-fondo{
    width: 100% !important;
  }
  .clasita{
    margin-top: 2em !important;
  }
  .prueba{
    margin-left: 0 !important;
  }
  .font-parra{
    font-size: 40px;
    text-align: justify ;
    margin: auto !important;
  }
  .text-clave{
    width: 100% !important;
  }
}
.text-slider{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.text-title{
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.fondo-clave{
  background: url("src/assets/home/fondo-clave-2.png") no-repeat center;
  width: 100%;
  background-size: cover;
  height: auto;
}
.fondo-producto{
  background: url("src/assets/home/productos/fondoP.png") no-repeat center;
  width: 100%;
  height: auto;
}
.fondo-contacto{
  background: url("src/assets/home/columna-contacto.png") no-repeat center;
  background-size: cover;
}
.t-team{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.scroll::-webkit-scrollbar{
  width: 7px;
}
.scroll::-webkit-scrollbar-thumb{
  background: #C4C4C4;
  border-radius: 20px;
}
#finanza{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.t-BIVA{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: right
}
.t-tam{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.fondo-equipo{
  background: url("src/assets/home/equipo/image (1).png") no-repeat center;
  width: 100%;
  background-size: cover;
  height: 840px;
}
.spacer{
  margin-top: 10em !important;
}
.bg-te{

}
.bg-input{
  background: #ECECEC;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.form-label{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.carousel-control-prev{
  left: -10px!important;
}

#text{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.btn-contacto{
  background: #3274FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.card-header-first{
  box-shadow:1px 7px 15px #a2a2a2;
  margin:-25px -25px 0px -25px;
  height: 120px;
}
.title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.prueba{
  margin-left: 14.66667%;
}
.cta-contact{
  border: 1px solid #0069FA;
  box-sizing: border-box;
  border-radius: 15px;
  color: #1D5DB5;
}
.caja-contacto{
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 4px  rgba(0, 0, 0, 0.25), 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}
.cta-contact:hover{
  background-color: #1B2C48;
  color: aliceblue;
}
.bg-historia{
  background: url("src/assets/home/equipo/Frame.png") no-repeat center;
}
.t-historia{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #31497D;
}
.derivados{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #31497D;
}
.t-his{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.bg-team{
  background: linear-gradient(180deg, #1D5DB5 0%, #207CF8 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 500px;
  width: 355px;
}
.t-card{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.title-c{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.subtitle{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.text{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.text-s-clave{
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 107.4%;
  /* or 17px */
  text-align: center;
}
.bg-f{
  background: #E5E5E5;
}
.card-fondo{
  background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 250px;
}
.font-title{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.font-parra{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.font-subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px
}
.font-product{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
}
.text-product{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.text-clave{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.c-text{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.c-text.active{
  visibility: visible;
  opacity: 1;
}
