<app-menu></app-menu>
<div id="carouselExampleCaptions" class="carousel slide min-vh-100" data-bs-ride="carousel" data-bs-interval="8000">
  <div class="carousel-indicators mb-4">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active  slider1">
      <div class="container min-vh-100">
        <div class="row d-flex min-vh-100 text-white text-start">
          <div class="col-md-6 my-auto mx-lg-4 pt-lg-5">
              <h1 class="text-title mt-5">Nuestro objetivo</h1>
             <p class="text-slider justify-content-center py-5 m-auto">En Finanzas Inteligentes buscamos ser tu <br>
            socio estratégico de negocios para <br>impulsar el crecimiento de tu empresa.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item slider2" >
      <div class="container min-vh-100">
        <div class="row  min-vh-100 text-white">
            <div class="col-md-6 my-auto mx-lg-4 pt-lg-5">
              <h1 class="text-title mt-5">¿Para qué nos necesitas?</h1>
              <p class="text-slider justify-content-center py-5 m-auto"> Institucionalizar el área financiera de tu negocio
                para que tenga los estándares de disciplina necesarios y dar
                seguimiento constante a la implementación de las recomendaciones  y acciones de mejora.
                Lo anterior, con el objetivo de que tu empresa logre un crecimiento sostenible y la permanencia a largo plazo.</p>
            </div></div>
      </div>
    </div>
    <div class="carousel-item  slider3">
      <div class="container min-vh-100">
        <div class="row  min-vh-100 text-white">
            <div class="col-md-6 my-auto mx-lg-4 pt-lg-5">
              <h1 class="text-title mt-3">¿Cómo lo hacemos?</h1>
              <p class="text-slider justify-content-center py-5 m-auto">Transformando la contabilidad en información financiera consistente y
                oportuna que sirva para la toma de decisiones, y acompañándote en
                la implementación de acciones que mejoren el desempeño financiero de tu empresa con una metodología de gestión de proyectos.</p>
            </div></div>
      </div>
    </div><div class="carousel-item  slider4">
  </div>
  </div>
</div>
<div class="py-4"></div>
<section class="pt-2 pb-2">
  <div class="container" [ngClass]="{'d-none': vista == false}">
  <div class="row">
    <div class="col-md-12  pb-5">
      <h3 class="font-title py-2">¿Cuáles son nuestros servicios?</h3>
      <p class="justify-content-center  font-parra font-medium mx-lg-4">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar<br>
        un project manager, elaborar un reporte mensual inteligente, acompañarte en la <br>
        planeación financiera y en la evaluación de proyectos de inversión. </p>
    </div>
    </div>
  </div>
  <div class="container pb-lg-5" [ngClass]="{'d-none': vista == false}">
    <div class="row" id="btn">
      <div class="col-md-2 col-sm-6  btn-v">
        <button style="border: none; background: none;" (click)="ocultacomponente('collapseOne')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento.png" style="cursor: pointer;"  class="img-fluid w-75 " alt="Imagen 1">
        </button>
      </div>
      <div class="col-md-2 col-sm-6 btn-v">
        <button style="background: none; border: none;" (click)="ocultacomponente('collapseSix')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento-1.png" style="cursor: pointer;" class="img-fluid w-75"  alt="Imagen 2">
        </button>
      </div>
      <div class="col-md-2 col-sm-6 btn-v">
        <button style="background: none; border: none;" (click)="ocultacomponente('collapseTwo')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento-2.png" style="cursor: pointer;" class="img-fluid w-75"  alt="Imagen 2">
        </button>
      </div>
      <div class="col-md-2 col-sm-6 btn-v">
        <button style="background: none; border: none;" (click)="ocultacomponente('collapseThree')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento-3.png" style="cursor: pointer;" class="img-fluid w-75"  alt="Imagen 2">
        </button>
      </div>
      <div class="col-md-2 col-sm-6 btn-v">
        <button style="background: none; border: none;" (click)="ocultacomponente('collapseFour')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento-4.png" style="cursor: pointer;" class="img-fluid w-75"  alt="Imagen 2">
        </button>
      </div>
      <div class="col-md-2 col-sm-6 btn-v">
        <button style="background: none; border: none;" (click)="ocultacomponente('collapseFive')" [ngClass]="{'bg-te': vista == false}">
          <img src="assets/home/productos/elemento-6.png" style="cursor: pointer;" class="img-fluid w-75"  alt="Imagen 2">
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="acc" [ngClass]="{'d-none': vista == true}">
    <div class="accordion" id="accordionExample">
      <div id="headingOne">
      </div>
      <div id="collapseOne" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s1">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3 mx-lg-2 mx-xl-2 btn-v">
                <button class="mx-lg-2 mx-xl-2" (dblclick)="mostrar()"  type="button" (click)="ocultacomponente('collapseSix')" style="background: none; border: none;">
                  <img src="assets/home/productos/PM.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseTwo')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen2.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseThree')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen3.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFour')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen4.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFive')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen6.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class=" position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-p">
                  <h3 class="font-subtitle  text-white">Evaluación inicial de la situación financiera de tu empresa y del área de finanzas</h3>
                  <p class="font-product my-lg-5 my-xl-5 my-md-5">
                    • Análisis financiero de la situación actual de la empresa.<br>
                    • Identificación de riesgos y áreas de mejora de los ciclos financieros &nbsp; y transaccionales de la empresa.<br>
                    • Recomendaciones para mitigar los riesgos y mejorar el desempeño financiero.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="headingTwo">
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s2">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3 mx-lg-2 mx-xl-2 btn-v">
                <button class="mx-lg-2 mx-xl-2"  type="button" (click)="ocultacomponente('collapseOne')" style="background: none; border: none;">
                  <img src="assets/home/productos/evalinicial.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button type="button" (click)="ocultacomponente('collapseSix')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/PM.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseThree')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen3.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFour')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen4.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFive')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen6.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class="position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-q">
                  <h3 class="font-subtitle my-auto text-white">Reporte mensual inteligente</h3>
                  <p class="font-product  my-lg-5 my-xl-5 my-md-5">
                    •	Propuestas de mejora continua y de creación de valor a partir del análisis financiera de la contabilidad de tu empresa.
                    <br>•	Monitoreo de indicadores de desempeño.
                    <br>•	Semáforo de obligaciones fiscales.
                    <br>•	Generación de un reporte mensual.
                    <br>•	Revisión del reporte mensual.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="headingThree">
      </div>
      <div id="collapseThree" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s3">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3 mx-lg-2 mx-xl-2 btn-v">
                <button class="mx-lg-2 mx-xl-2"  type="button" (click)="ocultacomponente('collapseOne')" style="background: none; border: none;">
                  <img src="assets/home/productos/evalinicial.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed"  type="button"
                        (click)="ocultacomponente('collapseTwo')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen2.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseSix')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/PM.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFour')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen4.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFive')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen6.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class="position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-r">
                <h3 class="font-subtitle text-white">Planeación financiera</h3>
                  <p class="font-product my-auto py-4">
                    • La visión y ambición de tu negocio en un plan financiero.<br>
                    • Planeación a corto y largo plazo para definir rentabilidad,<br>
                    estrategias de mejora y necesidades de capital de trabajo. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="headingFour">
      </div>
      <div id="collapseFour" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s4">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3 mx-lg-2 mx-xl-2 btn-v">
                <button class="mx-lg-2 mx-xl-2"  type="button" (click)="ocultacomponente('collapseOne')" style="background: none; border: none;">
                  <img src="assets/home/productos/evalinicial.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed"  type="button"
                        (click)="ocultacomponente('collapseTwo')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen2.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseThree')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen3.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseSix')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/PM.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFive')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen6.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class="position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-s">
                <h3 class="font-subtitle text-white">Evaluación de proyectos de inversión</h3>
                  <p class="font-product my-auto py-4">
                    •	Estudio de viabilidad. <br>
                    •	Consideración del capital de trabajo necesario.<br>
                    •	Identificación de fuentes alternativas de financiamiento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="headingFive">
      </div>
      <div id="collapseFive" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s1">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3 mx-lg-2 mx-xl-2 btn-v">
                <button class="mx-lg-2 mx-xl-2"  type="button" (click)="ocultacomponente('collapseOne')" style="background: none; border: none;">
                  <img src="assets/home/productos/evalinicial.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed"  type="button"
                        (click)="ocultacomponente('collapseTwo')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen2.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseThree')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen3.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFour')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen4.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseSix')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/PM.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class=" position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-t">
                  <h3 class="font-subtitle  text-white">Business Intelligence</h3>
                  <p class="font-product my-lg-5 my-xl-5 my-md-5">
                    • Interfaz de trabajo intuitiva y centralizada.<br>
                    • Optimiza el trabajo en equipo dentro de la empresa y el  intercambio de datos e informes.<br>
                    • Protege los datos gracias al uso de redes y sistemas cifrados.<br>
                    • Ahorro de tiempo<br>
                    • Automatización de procesos.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="headingSix">
      </div>
      <div id="collapseSix" class="collapse">
        <div class="row">
          <div class="col-md-5 mx-0 col-sm-12 s1">
            <div class="container contenido">
              <div class="row  contenido text-white">
                <div class="col-md-12 my-auto py-1">
                  <h1 class="text-title">¿Cuáles son nuestros servicios?</h1>
                  <p class="text-product py-3 my-auto">Te ofrecemos hacer una evaluación de la situación financiera de tu empresa, asignar un project manager,
                    elaborar un reporte mensual inteligente, acompañarte en la planeación financiera y en la evaluación de proyectos de inversión. </p>
                </div></div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 bg-oculto">
            <div class="row pt-lg-5 pt-xl-5 mt-sm-2 pt-sm-2">
              <div class="col-md-2 col-sm-3  btn-v">
                <button class=""  type="button" (click)="ocultacomponente('collapseOne')" style="background: none; border: none;">
                  <img src="assets/home/productos/evalinicial.png" alt="Producto 1">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed"  type="button"
                        (click)="ocultacomponente('collapseTwo')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen2.png"  alt="Producto 2">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button class="collapsed" type="button"
                        (click)="ocultacomponente('collapseThree')"
                        style="background: none; border: none;">
                  <img src="assets/home/productos/imagen3.png"  alt="Producto 3">
                </button></div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFour')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen4.png"  alt="Producto 4">
                </button>
              </div>
              <div class="col-md-2  col-sm-3 btn-v">
                <button  class=" collapsed"
                         (click)="ocultacomponente('collapseFive')"
                         type="button" style="background: none; border: none;">
                  <img src="assets/home/productos/imagen6.png"   alt="Producto 4">
                </button>
              </div>
              <div class="col-md-12 col-sm-12 abs position-relative">
                <div class=" position-absolute ps-lg-5 ps-xl-5 ms-2 py-lg-5 py-xl-5 my-xl-auto my-lg-auto t-oculto" id="texto-u">
                  <h3 class="font-subtitle  text-white">Project Manager</h3>
                  <p class="font-product my-lg-5 my-xl-5 my-md-5">
                    Seguimiento constante e implementación de recomendaciones<br>
                    con una metodología de project manager.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>

</section>
<div class="py-lg-3 py-md-0 py-sm-2"></div>
<section class=" pb-5 fondo-clave">
  <div class="container">
    <div class="row">
      <div class="col col-md-12 col-sm-12 py-3">
      <h3 class="font-title pt-2 mt-2 clasita">Elementos Clave</h3>
        <div class="text-clave w-75 mt-2">Nuestros servicios cuentan con el respaldo de las áreas especializadas en inteligencia de negocios,
          dirección financiera y liderazgo de proyectos.</div>
      </div>
    </div>
    <div class="row pb-5 mb-5">
      <div class="col col-md-2 col-sm-12 pt-4">
        <img src="assets/home/elementos/clave-1.png" alt="Analytics" class="img-fluid position-relative">
        <i class="fas fa-plus position-absolute  py-5 my-5 fa-2x plus"></i>
      </div>
      <div class="col col-md-2 col-sm-12 pt-4">
        <img src="assets/home/elementos/clave-2.png" alt="CEO Compartido" class="img-fluid position-relative">
        <i class="fas fa-plus position-absolute plus  py-5 my-5 fa-2x"></i>
      </div>
      <div class="col col-md-2 col-sm-12 pt-4">
        <img src="assets/home/elementos/clave-3.png" alt="Project Manager" class="img-fluid">
      </div>
      <div class="col-md-3  pt-5"></div>
    </div>
  </div>
</section>
<section class="fondo-equipo" id="equipo" name="equipo">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-2">
        <h3 class="font-title py-4 text-white" id="equipo">Nuestro equipo</h3>
      </div>
    </div>
  </div>
  <div class="container mx-auto mt-5 pt-5">
    <div class="row my-lg-5 py-lg-5 spacer">
      <div class="prueba col col-lg-3 col-md-6 col-sm-6 mb-2 mt-5 pt-3" id="victor">
        <div class="card card-fondo">
          <div class="text-center">
            <img src="assets/home/equipo/victor.png" alt="Victor Calderón" class="w-50 card-img-top" style="margin-top: -80px">
          </div>
          <div class="card-body">
            <div class="card-text">
              <h3 class="card-title title-c">Victor Calderón</h3>
              <h6 class="text-s-clave font-light text-center">Director general
                ArCcanto Finanzas Corporativas</h6>
              <p class="text pt-3">
                Víctor es licenciado en Contaduría Pública con especialidad en Finanzas por el Tecnológico de Monterrey, Campus Ciudad de México,
                y cuenta con una Maestría en Administración dentro de la misma institución.<br>
                <a style="cursor: pointer;" (click)="mostrarpanel()" class="text-decoration-none text-center0 pt-1 ">Ver más</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class=" col col-lg-3 col-md-6 col-sm-6 mb-2 mt-5 pt-3" id="ivette">
        <div class="card card-fondo" >
          <div class="text-center">
            <img src="assets/home/equipo/ivette.png" alt="Ivett Villar" class="w-50 card-img-top" style="margin-top: -80px">
          </div>
          <div class="card-body">
            <div class="card-text">
              <h3 class="card-title title title-c">Ivett Villar Jiménez </h3>
              <h6 class="font-light text-center text-s-clave">Socio Director Finanzas Inteligentes</h6>
              <p class="text pt-3">
                Ivett Villar es  Licenciada en Contaduría Pública por la Universidad
                Iberoamericana. Continua sus estudios en finanzas en la Universidad de
                Toronto, Canadá, y tiene un MBA en el (IPADE), Ciudad de México.<br>
                <a style="cursor: pointer;" (click)="mostrarpanelI()" class="text-decoration-none text-center pt-2">Ver más</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-sm-12 col-md-12 mb-4 mt-5 pt-3" id="pablo">
        <div class="card card-fondo">
          <div class="text-center">
            <img src="assets/home/equipo/pablo.png" alt="Pablo " class="w-50 card-img-top" style="margin-top: -80px">
          </div>
          <div class="card-body">
            <div class="card-text">
              <h3 class="card-title title title-c">Pablo Iturbide</h3>
              <h6 class="text-s-clave font-light text-center "> Socio Finanzas Inteligentes</h6>
              <p class="text pt-1"><br>
                Pablo Iturbide es Licenciado en economía. Inició su carrera profesional en un programa de educación bursátil, posteriormente en ArCcanto,
                consultoría financiera experta en finanzas corporativas, subdirector de relación. <br>
                <a (click)="mostrarpanelP()" class="font-medium text-decoration-none text-center pt-1">Ver más</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class=" my-auto py-5"></div>
<section id="s-panel" class="py-5 my-5 d-none" style="height: 500px;">
  <div class="container mb-5 d-none" id="Victor-panel">
    <div class="row">
      <div class="col-md-4 col-sm-12 bg-team text-white">
        <div class="py-2">
         <div class="m-auto text-center">
           <img src="assets/home/equipo/victor.png" alt="Pablo " class="w-75 text-center  mx-auto" style="margin-top: -180px">
         </div>
          <h5 class="font-medium text-center mt-4">Victor Calderón</h5><br>
          <h6 class="text-s-clave font-light text-center mt-2">Director general
            ArCcanto Finanzas Corporativas</h6>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 m-lg-auto m-xl-auto t-sl">
        <p class="t-card">Víctor es licenciado en Contaduría Pública con especialidad en Finanzas por el Tecnológico de Monterrey, Campus Ciudad de México,
          y cuenta con una Maestría en Administración dentro de la misma institución. Ambos grados fueron otorgados con mención honorífica de excelencia.
        </p>
        <p class="t-card">
          Tiene una especialidad en Alta Dirección por Aarhus School of Business de Dinamarca,
          y la de reaseguro financiero. Ha acreditado diveros cursos de Habilidades Directivas en Zurich, Suiza y el programa de Alta Dirección
          en el Instituto Panamericano de Alta Dirección (IPADE) de la Ciudad de México.
          Cuenta con amplia experiencia en instrumentación y reestructura de créditos, análisis de riesgo, manejo de tesorerías,
          coberturas a través de productos derivados y financiamiento corporativo. </p>
        <p class="t-card">
          Actualmente es Socio Fundador y Director General de ArCcanto (fundada en 2004). Mentor de aceleradores de negocios como Victoria 147, Endeavor, Vital Voices, We Connect y Road to Growth,
          entre otros. Fue nombrado como una de las 30 promesas de los 30 de la Revista Expansión. También fue incluido en las 30 promesas de Forbes.</p>
        <p class="text-end">
          <a class="t-card font-medium" (click)="ocultarpanel()">Cerrar</a>
        </p>
      </div>
    </div>
  </div>
  <div id="Ivette-panel" class="container mb-5 d-none">
    <div class="row">
      <div class="col-md-4 col-sm-12 bg-team text-white">
        <div class="py-2">
          <div class="m-auto text-center">
            <img src="assets/home/equipo/ivette.png" alt="Ivette Villar " class="w-75 text-center  mx-auto" style="margin-top: -180px">
          </div>
          <h5 class="font-medium text-center mt-4">Ivett Villar Jiménez </h5><br>
          <h6 class="text-s-clave font-light text-center mt-2">Socio Director Finanzas Inteligentes</h6>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 m-auto t-sl">
        <p class="t-card">Ivett Villar es Licenciada en Contaduría Pública por la Universidad Iberoamericana.
          Continua sus estudios en finanzas en la Universidad de Toronto, Canadá, y tiene un MBA en el Instituto Panamericano de Alta Dirección de Empresas (IPADE), Ciudad de México.
        </p>
        <p class="t-card">
          Ha sido director de finanzas en empresas de clase mundial líderes de mercado en distintas industrias. Cuenta con una amplia experiencia internacional
          y una sólida trayectoria en corporativos multinacionales como Monsanto-Merisant, Vanity Fair Diltex, American Greetings, Hilti y Merck Sharp & Dohme, entre otras.
          Cuenta con más de 18 años de experiencia directiva en Finanzas, IT, Logística y Recursos Humanos.
        </p>
        <p class="t-card">
          Cuando trabajó en Deloitte realizó auditorias de estados financieros y control interno para diferentes compañías
          y a lo largo de su carrera ha implementado controles para disminuir en el  riesgo del negocio y a su vez permitir el crecimiento.
          Ha implementado centros de servicios compartidos donde se trabaja a través de procesos estandarizados
          y de control mejorar del desempeño  financiero.
        </p>
        <p class="t-card">
          A lo largo de su trayectoria, se ha destacado por impulsar una cultura de transformación organizacional enfocada a la rentabilidad,
          el establecimiento de controles internos para el crecimiento sostenible y la mejora continua para generar valor a las organizaciones.
        </p>
        <p class="text-end">
          <a class="font-medium t-card" (click)="ocultarpanelI()">Cerrar</a>
        </p>
      </div>
    </div>
  </div>
  <div id="Pablo-panel" class="container mb-5 d-none">
    <div class="row">
      <div class="col-md-4 col-sm-12 bg-team text-white">
        <div class="py-2">
          <div class="m-auto text-center">
            <img src="assets/home/equipo/pablo.png" alt="Pablo " class="w-75 text-center  mx-auto" style="margin-top: -180px">
          </div>
          <h5 class="font-medium text-center mt-4">Pablo Iturbide Cera</h5><br>
          <h6 class="text-s-clave font-light text-center mt-2">Socio Finanzas Inteligentes</h6>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 m-auto t-sl">
        <p class="t-card">
          Pablo Iturbide es Licenciado en Economía por la Universidad Anahuac México Norte. Inició su carrera profesional en un programa de educación bursátil. Posteriormente, en ArCcanto,
          se desempeñó como consultor financiero experto en finanzas corporativas, con el cargo de Subdirector de Relación.
        </p>
        <p class="t-card">
          Cuenta con más de 7 años de experiencia en el impulso a pequeñas y medianas empresas mediante la obtención y uso inteligente de los recursos, instrumentación, reestructura de créditos y análisis de riesgos. Ha obtenido más de 1800 millones de pesos en recursos financieros para clientes.
          Cuenta con experiencia en la obtención de financiamiento (deuda) a través del mercado de valores y de valuación de empresas.</p>
        <p class="text-end">
          <a class="font-medium t-card" (click)="ocultarpanelP()">Cerrar</a>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="py-lg-5 py-xl-5 py-md-2 py-sm-2"></div>
<section class="my-auto  bg-historia" id="historia">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="t-historia text-center">Nuestra historia</p>
      </div>
      <div class="col-md-12 py-3">
        <p class="t-his text-center">Finanzas Inteligentes forma parte de <a class="text-decoration-none" href="https://www.arccanto.com/" target="_blank" style="color: #31497D; font-weight: 600;">ArCcanto</a>, consultora experta en finanzas corporativas cuya trayectoria suma ya los 17 años.
          ArCcanto surgió con el objetivo de acelerar el crecimiento de las pymes, medianas y grandes empresas que están cambiando a México, asesorándolas y acompañándolas en todas las etapas con la finalidad de que puedan alcanzar su verdadero potencial de crecimiento, incrementen su valor de mercado y opten, en caso de que así les convenga, por la venta, la fusión o la bursatilización.
        </p>
        <p class="t-his text-center">Las divisiones de ArCcanto son</p>
      </div>
      <div class="col-md-12 py-2">
        <div class="row">
          <div class="col-md-3">
            <p class="derivados font-bold" style="font-weight: 500;">Deuda Inteligente</p>
          </div>
          <div class="col-md-3">
            <p class="derivados font-bold" style="font-weight: 500;">Valuación</p></div>
          <div class="col-md-3"><p class="derivados font-bold" style="font-weight: 500;">M&A</p></div>
          <div class="col-md-3"><p class="derivados font-bold" style="font-weight: 500;">Emisión de Deuda o Capital</p></div>
          <div class="ofsset-lg-3 col-md-4 mx-lg-5"><p class="derivados font-bold" style="font-weight: 500;">Financiamiento Inmobiliario</p></div>
          <div class="col-md-4 mx-lg-5 ">
            <p class="derivados font-bold">
            <a style="color: #31497D;" href="https://www.arccanto.com/finanzas-inteligentes.php" class="font-bold text-decoration-none" target="_blank">  Finanzas Inteligentes</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="py-4"></div>
<section  style="background: #1B2C48;">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-lg-1 col-md-4 col-sm-12 my-5 scroll" style="overflow-y: scroll; max-height: 420px;" >
        <p class="t-team">
         <b class="font-bold"> Finanzas Inteligentes </b> nace debido a que identificamos varias necesidades en las empresas pymes y medianas de México,
          algunas de las cuales se describen a continuación:</p>
        <div class="pt-3">
        <p class="t-tam">• Se toman decisiones sin considerar la información financiera de la empresa.</p>
        <p class="t-tam">• La información financiera se orienta, sobre todo, a los temas fiscales.</p>
        <p class="t-tam">• Se descarta al departamento de finanzas como un socio estratégico de negocios.</p>
        <p class="t-tam">• Se carece de disciplina en la entrega y revisión de la situación financiera de la empresa.</p>
        <p class="t-tam">• Se omite la planeación financiera, lo que distorsiona los niveles de ambición.</p>
        <p class="t-tam">• Falta un análisis a detalle de rentabilidad por unidad de negocio, cliente y familia de productos, entre otros.</p>
        <p class="t-tam">• Se requiere de una planeación de flujo de efectivo que determine las necesidades de capital de trabajo.</p>
        <p class="t-tam">• Análisis insuficiente de los inventarios, cuentas por cobrar y cuentas por pagar.</p>
        </div>
      </div>
      <div class="col-md-7 mx-0 col-sm-12 " style="padding-right: 0 !important; padding-left: 0!important; background: url('assets/home/equipo/image.png') no-repeat center; background-size: contain; object-fit: cover;">
      </div>
    </div>
  </div>
</section>
<section class="py-3" id="history" style="height: 250px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center m-auto">
      <div class="my-auto text-center py-lg-5 py-xl-5">
        <p id="finanza" class="py-xl-5 py-lg-5">
          <b class="font-bold" style="color: #0094FF;">Finanzas Inteligentes</b> constituye,
          en sí misma, un aliado confiable por la experiencia de sus integrantes y por su vocación de ayudar a las empresas en México.
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="py-lg-5 py-xl-5" id="conoce">
  <div class="container-fluid py-lg-5 py-xl-5">
    <div class="row">
      <div class="col-md-4 col-sm-12 my-xl-auto my-lg-auto">
        <h2 class="font-bold t-BIVA" >¿Quieres conocer más?</h2>
        <h1 class="t-BIVA">Importancia del área financiera de <br> las empresas para su <br> institucionalización.</h1>
        <h5 class="t-BIVA">Ve nuestra participación en <br> <b style="color: #0094FF;">#Espacio BIVA</b></h5>
      </div>
      <div class="col-md-6 col-sm-12 my-lg-auto" id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EB8ZCPPj1s4"
                title="#Espacio BIVA ArCcanto" frameborder="0"
                id="BIVA"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="py-lg-5 py-xl-5" id="conoce1">
  <div class="container py-xl-5 caja-contacto">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-xl-auto my-lg-auto">
        <h1 class="font-bold t-BIVA" style="color: #0094FF;">¿Tu empresa está lista para 2026?</h1>
        <p class="t-BIVA">Conoce cómo planear con inteligencia y construir un crecimiento sólido con estrategia y control financiero.</p>
      </div>
      <div class="col-md-6 col-sm-12 my-lg-auto text-center" id="btons">
        <a href="assets/home/Planeación estrategica y financiera 2026.pdf" class="btn cta-contact px-4" download="">Descargar</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-f" id="contacto" name="contacto">
<div class="container-fluid">
  <div class="row">
    <div class=" col-md-4 d-none d-lg-block col-md-4 col-lg-4 col-xl-4" style="padding: 0">
      <img src="assets/home/columna-contacto.png" alt="Columna" class="img-fluid">
    </div>
   <div class="offset-lg-1 col-md-7">
      <div class="row">
        <div class="col-md-12 mt-4">
        <h3 class="font-title my-5">Contáctanos</h3>
      </div>
      </div>
      <div class="row mx-auto">
        <form action="" class="mx-auto">
          <div class="col-md-8 col-sm-12 my-2">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control bg-input" [(ngModel)]="nombre">
          </div>
          <div class="col-md-8 col-sm-12 my-2">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control bg-input" id="correo" name="correo" [(ngModel)]="correo">
          </div>
          <div class="col-md-8 col-sm-12 my-2">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea name="mensaje" id="mensaje" style="height: 199px;"  class="form-control bg-input" [(ngModel)]="mensaje"></textarea>
          </div>
          <div class="col-md-8 col-sm-12 my-3 text-end">
            <button type="button" id="text" class="btn btn-contacto text-center px-5" (click)="sendMail()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
