@media (min-width: 300px) and (max-width: 1400px) {
  #BI{
    width: 100% !important;
  }
  .texto{
    width: 100% !important;
    font-size: 14px !important;
    text-align: center !important;
  }
}
@media(min-width: 1900px){
  #BI{
    width: 100% !important;
    height: 950px !important;
  }
}

